<h3>Reset Your Password!</h3>

Tap the button below to reset your customer account password. If you didn't request a new password, you can safely delete this email.

{# example, assuming you have a route named "login" #}
To reset your password, go to: <a href="{{ url('app_reset_password' ,{token:token})}}">
    <img src="{{ absolute_url(asset('images/icons8-password-reset-filled-50.png')) }}">
</a>.

Thanks!

{# Makes an absolute URL to the /images/logo.png file #}
